<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport format-detection"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta content="telephone=no,email=no" name="format-detection">
  <title>浙江省政务一朵云平台</title>
  <!-- <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script> -->
  <!-- TODO 修改icon -->
  <!-- <link rel="icon" href="/logo.svg" type="image/x-icon" /> -->
</head>

<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
</body>

</html>